*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
.env
.env.*
!.env.example
.deployment/
gha-creds-*.json
application_default_credentials.json
xcuserdata
.kotlin
